<a href="https://colab.research.google.com/github/boramkim0514/hw/blob/boramkim0514-patch-1/day12_pm_hw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
from google.colab import drive

In [7]:
import pandas as pd
import numpy as np

In [10]:
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
pd1 = pd.read_csv('/content/sample_data/pop1.csv')

In [14]:
pd1

         기간    자치구         총이동       총이동.1  ... 시ㆍ도간이동.5     순이동   순이동.1   순이동.2
0        기간    자치구  총전입(①+②+④)  총전입(①+②+④)  ...    전출(⑤)     순이동     순이동     순이동
1        기간    자치구  총전입(①+②+④)  총전입(①+②+④)  ...    전출(⑤)     순이동     순이동     순이동
2        기간    자치구          소계          남자  ...       여자       계      남자      여자
3   2021.03  서울특별시     151,617      73,389  ...   28,887  -6,216  -4,453  -1,763
4   2021.03    종로구       2,644       1,266  ...      444     -53     -87      34
5   2021.03     중구       1,966         949  ...      352    -178    -126     -52
6   2021.03    용산구       4,462       2,111  ...      674     580     169     411
7   2021.03    성동구       4,656       2,282  ...      800    -385    -293     -92
8   2021.03    광진구       5,432       2,551  ...    1,093    -395    -224    -171
9   2021.03   동대문구       5,640       2,802  ...    1,007      96      36      60
10  2021.03    중랑구       5,129       2,534  ...    1,043    -523    -326    -197
11  2021.03    성북구       6,761       3,180  ...    1,162    -188    -206      18
12  2021.03    강북구       3,802       1,865  ...      698    -484    -256    -228
13  2021.03    도봉구       3,754       1,831  ...      777    -565    -291    -274
14  2021.03    노원구       6,372       3,075  ...    1,301    -677    -404    -273
15  2021.03    은평구       6,021       2,859  ...    1,425    -630    -372    -258
16  2021.03   서대문구       4,930       2,252  ...      920    -160    -203      43
17  2021.03    마포구       6,599       3,104  ...    1,158    -187     -58    -129
18  2021.03    양천구       6,162       3,048  ...      987    -240    -208     -32
19  2021.03    강서구       9,737       4,708  ...    1,732     246     -25     271
20  2021.03    구로구       5,175       2,591  ...    1,231    -246     -94    -152
21  2021.03    금천구       3,388       1,732  ...      784     -52     -34     -18
22  2021.03   영등포구       6,206       3,027  ...    1,190     -14    -102      88
23  2021.03    동작구       7,245       3,504  ...    1,270     389     178     211
24  2021.03    관악구       9,971       5,001  ...    1,991    -277    -192     -85
25  2021.03    서초구       6,102       2,914  ...    1,190  -1,025    -478    -547
26  2021.03    강남구       8,868       4,298  ...    1,712  -1,277    -656    -621
27  2021.03    송파구      10,653       5,079  ...    2,496  -2,090  -1,151    -939
28  2021.03    강동구       9,942       4,826  ...    1,450   2,119     950   1,169

[29 rows x 26 columns]

In [16]:
type(pd1)

pandas.core.frame.DataFrame

In [ ]:
pd1.info()

In [ ]:
pd1.items

In [23]:
pd1.columns

Index(['기간', '자치구', '총이동', '총이동.1', '총이동.2', '총이동.3', '총이동.4', '총이동.5',
       '시ㆍ도내이동', '시ㆍ도내이동.1', '시ㆍ도내이동.2', '시ㆍ도내이동.3', '시ㆍ도내이동.4', '시ㆍ도내이동.5',
       '시ㆍ도내이동.6', '시ㆍ도내이동.7', '시ㆍ도내이동.8', '시ㆍ도간이동', '시ㆍ도간이동.1', '시ㆍ도간이동.2',
       '시ㆍ도간이동.3', '시ㆍ도간이동.4', '시ㆍ도간이동.5', '순이동', '순이동.1', '순이동.2'],
      dtype='object')

In [29]:
#pd1.iloc['총전입'] = pd1['총이동.1'] + pd1['총이동.2']  /총이동.4, 총이동.5

In [ ]:
pd1

In [59]:
pd1.iloc[4:, [1,6,7]]

     자치구  총이동.4  총이동.5
4    종로구  1,353  1,344
5     중구  1,075  1,069
6    용산구  1,942  1,940
7    성동구  2,575  2,466
8    광진구  2,775  3,052
9   동대문구  2,766  2,778
10   중랑구  2,860  2,792
11   성북구  3,386  3,563
12   강북구  2,121  2,165
13   도봉구  2,122  2,197
14   노원구  3,479  3,570
15   은평구  3,231  3,420
16  서대문구  2,455  2,635
17   마포구  3,162  3,624
18   양천구  3,256  3,146
19   강서구  4,733  4,758
20   구로구  2,685  2,736
21   금천구  1,766  1,674
22  영등포구  3,129  3,091
23   동작구  3,326  3,530
24   관악구  5,193  5,055
25   서초구  3,392  3,735
26   강남구  4,954  5,191
27   송파구  6,230  6,513
28   강동구  3,876  3,947

In [50]:
pd1.columns

Index(['기간', '자치구', '총이동', '총이동.1', '총이동.2', '총이동.3', '총이동.4', '총이동.5',
       '시ㆍ도내이동', '시ㆍ도내이동.1', '시ㆍ도내이동.2', '시ㆍ도내이동.3', '시ㆍ도내이동.4', '시ㆍ도내이동.5',
       '시ㆍ도내이동.6', '시ㆍ도내이동.7', '시ㆍ도내이동.8', '시ㆍ도간이동', '시ㆍ도간이동.1', '시ㆍ도간이동.2',
       '시ㆍ도간이동.3', '시ㆍ도간이동.4', '시ㆍ도간이동.5', '순이동', '순이동.1', '순이동.2', '', '총전입'],
      dtype='object')

In [52]:
pd1.iloc[:, 5:7]  #pd1.iloc[4:, [1,6,7]]

         총이동.3       총이동.4
0   총전출(①+③+⑤)  총전출(①+③+⑤)
1   총전출(①+③+⑤)  총전출(①+③+⑤)
2           소계          남자
3      157,833      77,842
4        2,697       1,353
5        2,144       1,075
6        3,882       1,942
7        5,041       2,575
8        5,827       2,775
9        5,544       2,766
10       5,652       2,860
11       6,949       3,386
12       4,286       2,121
13       4,319       2,122
14       7,049       3,479
15       6,651       3,231
16       5,090       2,455
17       6,786       3,162
18       6,402       3,256
19       9,491       4,733
20       5,421       2,685
21       3,440       1,766
22       6,220       3,129
23       6,856       3,326
24      10,248       5,193
25       7,127       3,392
26      10,145       4,954
27      12,743       6,230
28       7,823       3,876

In [42]:
p#d1.iloc[[:, 1:3],[:, 6:7]]

NameError: ignored

In [ ]:
pd2 =pd1.iloc[:, 6:7] /n = n1.copy()